@model _23DH111507_MyStore.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2 class="bg-info">Xóa truyện</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*Html.DisplayNameFor(model => model.CategoryName)*@
            Tên truyện
        </dt>

        <dd>
            @*hien thi gia tri cua categoryname*@
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizonal">
                    <h3 class="bg-danger">Xác nhận xóa truyện?</h3>
            <input type="submit" value="Xóa" class="btn btn-info" /> |
            @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-primary btn-sm " })
        </div>
    }
</div>
